*{
   margin: 0;
   padding: 0;

}
.header{
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.intro{
   position: relative;
   top: 50%;
   left: 49.3%;
   transform: translateX(-50%) translateY(-50%);
   width: 40%;
   height: 300px;
   background-color: ble;
}
.intro div {
   color: white;
   font-size: 40px;
   font-family: sans-serif;
   text-align: center;
   user-select: none;
  }
#hi{
  opacity: 0;
  transition: opacity 1.5s ease;
}
#name{
  opacity: 0;
  transition: opacity 1.5s ease;

}
#job{
  opacity: 0;
  transition: opacity 1.5s ease;
}
/*                  BUTTON                  */
#button-holder{
   position: relative;
   width: 30%;
   height: 13%;
   margin: 40px auto;
   opacity: 0;
   transition: opacity 1.5s ease;
   user-select: none;
}
#button{
   margin: 0;
   height: 100%;
   width: auto;
   position: relative;
   font-size: 30px;
   text-align: center;
   cursor: pointer;
   overflow: hidden;
}
#button  span{
    position: absolute;
    display: block;
}
#button  span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#273831);
}
#button  span:nth-child(2){
 bottom: -100%;
 right: 0;
 width: 2.5px;
 height: 100%;
 background: linear-gradient(#273831,transparent);
}
#button  span:nth-child(3){
 bottom: 0;
 right: -100%;
 width: 100%;
 height: 2px;
 background: linear-gradient(-90deg,transparent,#273831);
}

#button  span:nth-child(4){
 top: -100%;
 left: 0;
 width: 2.5px;
 height: 100%;
 background: linear-gradient(transparent,#273831);
}
/*                  BUTTON HOVER                   */
/*#button:hover{
  color: white;
  background:;
  box-shadow: 0 0 10px #1a470c, 0 0 40px #1a470c, 0 0 80px #1a470c;
  transition-delay: 0.8s  ;
}*/
#button:hover span:nth-child(1){
  left: 0%;
  transition: 0.8s
}
#button:hover span:nth-child(2){
 bottom: 0%;
 transition: 0.9s;
}
#button:hover span:nth-child(3){
 right: 0%;
 transition: 0.8s;
}
#button:hover span:nth-child(4){
 top: 0%;
 transition: 0.9s;
}

/*@media screen and (max-width: 1120px) {
    .marsh-hello{
       height: 300px;
    }

}*/
